
.movie img{
    height: 330px;
    width: 274px;
}

.movie h4{
    padding-bottom: 52px;
    padding-top: 30px;
}

.movie{
    height: 700px;
}

.movie-detail{
text-align: initial;
margin-left: 12px;
padding-top: 30px;
}