.banner{
    background-image: url("RRR-3.jpg");
    height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .select-city{
    margin-top: 16%;
    float: left;
    margin-left: 3%;
 }

 .select-city .discription{
    color: ghostwhite;
    font-size:20px;
    width: 34%;
    font-weight: 800;
 }