.seat-page{
    text-align: -webkit-center;
    margin-top: 30px;
}

.seat-page a {
    background: #fff;
    border: 1px solid green;
    padding: -3px;
    text-decoration: none;
    float: left;
    margin-left: 14px;
    padding: 3px;
    height: 18px;
    font-size: 12px;
    line-height: 12px;
    width: 20px;
    color: green;
    border-radius: 2px;
}

.seat-page a:hover {
    background-color: green;
    color: white;
}

.selected {
    background-color: green !important;
    color: white !important;
}

.submit-link{
    border: 1px solid green !important;
    width: 100px !important;
    background: green;
    color: white;
    text-decoration: none;
    float: none !important;
    position: relative;
    top: 20px;
}

.booked{
    background: grey!important;
    cursor: default;
    color: #fff!important;
    cursor: default;
    pointer-events:none;
}