.city {
   position: fixed;
   top: 70px;
   left: 300px;
   width: 60%;
   z-index: 500;
   background-color: rgb(255, 255, 255);
   flex-flow: row nowrap;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   border: 1px solid white;
    border-radius: 54px;
}

.cityies {
   color: red;
   list-style-type: none;
   margin-left: 16px;
}

.city-name a {
   font-size: 20px;
    /* color: rgb(102, 102, 102); */
    /* text-decoration: none; */
    /* color: pink; */
    font-weight: 700;
}

.small-img img {
   width: 50%;
   height: 100px;
}

.heading{
   color: rgb(102, 102, 102);
}